server:
  port: 8080
  servlet:
    context-path: /
    encoding:
      charset: UTF-8
      enabled: true
      force: true

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/study?serverTimezone=Asia/Seoul
    username: root
    password: 1234
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 377161591949-i6c83d5s14b1h59qgv62n66vqc4hpdkc.apps.googleusercontent.com
            client-secret: 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
            scope: profile, email

          facebook:
            client-id: 690340259178414
            client-secret: 90d1a779ee13f73835ca60f48c1323aa
            scope: email, public_profile

          naver:
            client-id: ZVEQ6nQwIjrV8JL0Vz2m
            client-secret: lczini2lzB
            scope: name, email
            client-name: Naver
            authorization-grant-type: authorization_code
            redirect-uri: http://localhost:8080/login/oauth2/code/naver #naver는 기본설정 되어 있지 않기 때문에 google, facebook과 달리 설정을 해줘야한다.

          kakao:
            client-id: 4e13ebcb58df296a5fd859da2b0fdb35
            client-secret: wZtHjpmkA7MBfKwbf52DCs1dQp2xorFe
            scope: profile_nickname, account_email
            client-name: Kakao
            authorization-grant-type: authorization_code
            redirect-uri: http://localhost:8080/login/oauth2/code/kakao
            client-authentication-method: POST

        provider:
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response

          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: kakao_account

mvc:
  view:
    prefix: /WEB-INF/views/
    suffix: .jsp

jpa:
  hibernate:
    ddl-auto: create #create update none
    naming:
      physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
  show-sql: true

