<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>JOIN</title>
</head>
<body>
  <h1>Join Page</h1>
  <hr/>
  <form action="/join" method="POST">
    <label for="username">userName: </label>
    <input type="text" id="username" name="username" placeholder="username" /><br/>
    <label for="password">passWord: </label>
    <input type="password" id="password" name="password" placeholder="password" /><br/>
    <label for="email">email: </label>
    <input type="text" id="email" name="email" placeholder="email" /><br/>
    <button>JOIN</button>
  </form>
</body>
</html>