<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login Page</title>
</head>
<body>
  <h1>Login Page</h1>
  <hr/>
  <form action="login" method="POST">
    <label for="username">userName: </label>
    <input type="text" id="username" name="username" placeholder="username" /><br/>
    <label for="password">passWord: </label>
    <input type="password" id="password" name="password" placeholder="password" /><br/>
    <button>LOGIN</button>
  </form>
  <hr/>
  <a href="/oauth2/authorization/google">GOOGLE LOGIN</a><hr/>
  <a href="/oauth2/authorization/facebook">FACEBOOK LOGIN</a><hr/>
  <a href="/oauth2/authorization/naver">NAVER LOGIN</a><hr/>
  <a href="/joinForm">Do you wanna register now :) ?</a>
</body>
</html>